<%= form_with(model: appointment, local: true) do |form| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.collection_select(:client_id, Client.all, :id, :name, :prompt => 'Select a Client') %>

  </div>

  <div class="field">
    <%= form.label :start_at %>
    <%= form. date_field :start_at, id: :appointment_start_at %>
  </div>

  <div class="field">
    <%= form.label :end_at %>
    <%= form. date_field :end_at, id: :appointment_end_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
